@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-sm text-center">
            <h1 class="display-4">Owen Symes</h1>
            <p>Full-stack .NET developer</p>
        </div>
    </div>
    <div class="row" style="height:100px">
        <div class="col-sm text-center">
            <ul class="list-unstyled">
                <li class="icon-social hvr-grow-rotate">
                    <a href="http://www.twitter.com/owensymes" title="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="icon-social hvr-grow-rotate">
                    <a href="https://stackoverflow.com/users/story/432342" title="Developer Story"><i class="fab fa-stack-overflow"></i></a>
                </li>
                <li class="icon-social hvr-grow-rotate">
                    <a href="https://github.com/fordprefect480" title="Github"><i class="fab fa-github"></i></a>
                </li>
                <li class="icon-social hvr-grow-rotate">
                    <a href="mailto:owen.symes+web@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="container">

            <div class="row">
                 <div class="col-sm-1"></div>
                 <div class="col-sm-10"><img src="/img/profile.png" class="img-fluid rounded-circle"></div>
                 <div class="col-sm-1"></div>                
            </div>
            </div>
        </div>
        <div class="col-sm">
            <p class="lead">Hi! I'm Owen.</p>
            <p>I'm a reliable, helpful & professional developer with over 10 years experience developing .NET web applications in NZ and Australia.</p>
            <p><strong>My passion:</strong> Crafting <em>readable, maintainable code</em> and making life easier for the users. </p>
            <p><strong>What I love:</strong> Underpinning everything I do is a love of learning and sharing knowledge with others. Areas that I am currently growing my skills in are DevOps and cloud infrastructure (specifically AWS and Azure).</p>
        </div>
    </div>
</div>
