<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Owen Symes</h1>
      <div>Full-stack .NET developer</div>
      <div class="col-sm text-md-center">
        <ul class="list-unstyled">
            <li class="icon-social hvr-grow-rotate">
                <a target="_blank" href="http://www.twitter.com/owensymes" title="Twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
            </li>
            <li class="icon-social hvr-grow-rotate">
                <a target="_blank" href="https://stackoverflow.com/users/story/432342" title="Developer Story"><fa-icon [icon]="faStackOverflow"></fa-icon></a>
            </li>
            <li class="icon-social hvr-grow-rotate">
                <a target="_blank" href="https://github.com/fordprefect480" title="Github"><fa-icon [icon]="faGithub"></fa-icon></a>
            </li>
            <li class="icon-social hvr-grow-rotate">
                <a target="_blank" href="mailto:owen.symes+web@gmail.com" title="Email"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            </li>
        </ul>
      </div> 
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <img src="/assets/img/profile.png" class="img-fluid img-circle">
          </div>
        </div>
      </div>

      <div class="col-md-9">
          <div class="col-sm">
              <p class="lead">Hi! I'm Owen.</p>
              <p>I'm a reliable, helpful & professional developer with over 10 years experience developing .NET web applications in NZ and Australia.</p>
              <p><strong>My passion:</strong> Crafting <em>readable, maintainable code</em> and making life easier for users. </p>
              <p><strong>What I love:</strong> Underpinning everything I do is a love of learning and sharing knowledge with others. Areas that I am currently growing my skills in are DevOps and cloud infrastructure (specifically AWS and Azure).</p>
          </div>
      </div>

    </div>
  </div>
</div>
